$HeaderBackground:url(../img/header_background_v1.jpg) ;
$color: white;
$color2:lightseagreen;
$dark:darkcyan;
$header:ghostwhite;
$clrfont:black;
$redcolor:red;
$gray:slategray;
$background:#f5f5f5;
$body:white;
$font:"Roboto", "Ubuntu", "Cantarell", "Helvetica" ,sans-serif; 
$small:15px;
$big:24px;


